div{
    margin:0 auto;
    text-align: center;
    width: 500px;
    height: 400px;
    border:2px solid orange;
    padding:30px 60px 500px 60px;


}
img{
    width: 350px;
}
h1{ 
    font-family: impact;
    color: orange;
    margin-top: 50px;
    margin-bottom: 50px;
}
p{
    color: orange;
    font-family: arial;
    font-size: 20px;
    margin-bottom: 80px;
    
}
body{
    background-color: black;
}
a{
    font-family: verdana;
  padding: 15px 40px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  background-color: orange;
}

.sasuke{background-color:orange;
  color:black;
  border: 2px;
  text-decoration: none;
  padding: 10px;
  border-radius:21px;
  
}